*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.grid {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.1)), color-stop(66.66667%, rgba(255, 77, 77, 0.1)), color-stop(66.66667%, transparent));
  background-image: -webkit-linear-gradient(left, rgba(255, 0, 0, 0.1), rgba(255, 77, 77, 0.1) 66.66667%, transparent 66.66667%);
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.1), rgba(255, 77, 77, 0.1) 66.66667%, transparent 66.66667%);
  background-size: 8.57143%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
  padding: 0 15px; }
  .grid:after {
    content: " ";
    display: block;
    clear: both; }
  @media (max-width: 699px) {
    .grid {
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.1)), color-stop(66.66667%, rgba(255, 77, 77, 0.1)), color-stop(66.66667%, transparent));
      background-image: -webkit-linear-gradient(left, rgba(255, 0, 0, 0.1), rgba(255, 77, 77, 0.1) 66.66667%, transparent 66.66667%);
      background-image: linear-gradient(to right, rgba(255, 0, 0, 0.1), rgba(255, 77, 77, 0.1) 66.66667%, transparent 66.66667%);
      background-size: 27.27273%;
      background-origin: content-box;
      background-clip: content-box;
      background-position: left top; }
      .grid:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 700px) {
    .grid {
      padding: 0 40px;
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.1)), color-stop(66.66667%, rgba(255, 77, 77, 0.1)), color-stop(66.66667%, transparent));
      background-image: -webkit-linear-gradient(left, rgba(255, 0, 0, 0.1), rgba(255, 77, 77, 0.1) 66.66667%, transparent 66.66667%);
      background-image: linear-gradient(to right, rgba(255, 0, 0, 0.1), rgba(255, 77, 77, 0.1) 66.66667%, transparent 66.66667%);
      background-size: 13.04348%;
      background-origin: content-box;
      background-clip: content-box;
      background-position: left top; }
      .grid:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 1200px) {
    .grid {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.1)), color-stop(66.66667%, rgba(255, 77, 77, 0.1)), color-stop(66.66667%, transparent));
      background-image: -webkit-linear-gradient(left, rgba(255, 0, 0, 0.1), rgba(255, 77, 77, 0.1) 66.66667%, transparent 66.66667%);
      background-image: linear-gradient(to right, rgba(255, 0, 0, 0.1), rgba(255, 77, 77, 0.1) 66.66667%, transparent 66.66667%);
      background-size: 8.57143%;
      background-origin: content-box;
      background-clip: content-box;
      background-position: left top; }
      .grid:after {
        content: " ";
        display: block;
        clear: both; } }

.test {
  color: green;
  height: 90vh; }
  @media (min-width: 700px) {
    .test {
      color: blue; } }
  @media (min-width: 1025px) {
    .test {
      color: red; } }

/*# sourceMappingURL=map/default.css.map */
