        <div class="grid">
            <div class="grid__inner">
                <div class="col-12">
                    <h2>
                        Hosts
                    </h2>
                </div>
                <div class="col-6">
                    <div class="person">
                        <a class="person__image-container" href="javascript:void(0)">
                            <img class="person__image" src="https://source.unsplash.com/fdVz5ylhg4I/768x435" alt="">

                            <div class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Debra Rogers
                                    </span>
                                    <span class="person__job-title">
                                        Designer
                                    </span>
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="person">
                        <a class="person__image-container" href="javascript:void(0)">
                            <img class="person__image" src="https://source.unsplash.com/OnsaUYoFMtA/768x435" alt="">
                            <div class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Bruce Caldwell
                                    </span>
                                    <span class="person__job-title">
                                        Lecturer
                                    </span>
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
