        <div class="grid">
            <div class="grid__inner">
                <div class="col-12">
                    <h2>
                        Sponsors
                    </h2>
                    <h3 class="sponsors__title sponsors__title--diamond">
                        Diamond
                    </h3>
                </div>
                <div class="col-4 col-xs-6">
                    <a href="sponsors.html" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-4 col-xs-6">
                    <a href="sponsors.html" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-4 col-xs-12">
                    <div class="sponsors-board__info">
                        <a class="sponsors-board__info-become" href="sponsors.html">
                            <span class="sponsors-board__info-text">
                                bla bla blabla bla blabla bla blabla bla blabla bla blabla bla <span class="sponsors__link" href="sponsors.html">blabla bla blabla</span> bla bla
                            </span>
                            <span class="sponsors-board__info-title sponsors__link">
                                Become a sponsor
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-12">
                    <h3 class="sponsors__title sponsors__title--platinum margin-top-large">
                        Platinum
                    </h3>
                </div>
                <div class="col-1_5 col-xs-6">
                    <a href="sponsors.html" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-1_5 col-xs-6">
                    <a href="sponsors.html" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-1_5 col-xs-6">
                    <a href="sponsors.html" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-1_5 col-xs-6">
                    <a href="sponsors.html" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-1_5 col-xs-6">
                    <a href="sponsors.html" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
            </div>
        </div>
