body {
  @include opensansregular();
  @include font-size($regular-font-size);
  color: $blue-darker;
}

strong {
  @include opensansbold();
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include opensanscondensedbold();
  margin: 0 0 0.5rem;
}

h1 {
  @include font-size($font-size-h1);
  &.intro__title{
    @include font-size($font-size-h2);
  }
  .home & {
    text-transform: uppercase;
    @include font-size($font-size-h1);
    .intro__title{
      @include font-size($font-size-h1);
    }
  }
}

h2 {
  @include font-size($font-size-h2);

  .home & {
    text-transform: uppercase;
    @include font-size($font-size-h2);

    &:not(.intro__title):after {
      content: " >";
      @include opensanscondensedlight;
    }
  }
}

h3 {
  @include font-size($font-size-h3);
}

h4 {
  @include font-size($regular-font-size);
}

p {
  margin: 0 0 1.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

aside {
  @include font-size($middle-font-size);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: $link;
  text-decoration: none;
  @include transition(color 0.4s ease-in-out);
  @include transition(background-color 0.4s ease-in-out);
  img {
    @include transition(opacity 0.4s ease-in-out);
  }

  &:focus,
  &:hover {
    color: $link-hover;
    img[class*=__logo] {
      opacity: .7;
    }
  }

}

.btn {
  color: $white;
  text-decoration: none;
  @include diagonal-gradient($blue-light-gradient1, $blue-light-gradient2, $red-light-gradient1, $red-light-gradient2);
  text-transform: uppercase;
  padding: 1rem 2rem;
  &.small {
    padding: 0.5rem 0.5rem;
  }
  display: inline-block;
  border: none;
  @include transition(background 0.4s ease);
  @include opensansbold();

  &.fix-size {
    width: 100%;
    display: block;
    margin-bottom: 0.01rem;
  }


  &:hover {
    cursor: pointer;
    color: $white;
  }
}

.center {
  text-align: center;
}
.right {
  text-align: right;
}
.justify {
  text-align: justify;
}

.ul-nostyle{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul[class*=list] {
  @extend .ul-nostyle;
  li {
    margin: 0 0 0.75rem 0;
  }
}
ul.list-inline li {
  display: inline-block;
  margin: 0 1.5rem 0 0;
  &:first-child {
    margin-left: 0
  }
  &:last-child {
    margin-right: 0
  }
}

// generic margins
.margin-top-large {
  margin-top: 2rem;
}
.margin-top-normal {
  margin-top: 1rem;
}
.margin-top-small {
  margin-top: 0.5rem;
}
.margin-bottom-large {
  margin-bottom: 2rem;
}
.margin-bottom-normal {
  margin-bottom: 1rem;
}
.margin-bottom-small {
  margin-bottom: 0.5rem;
}

// generic paddings
.padding-top-large {
  padding-top: 2rem;
}
.padding-top-normal {
  padding-top: 1rem;
}
.padding-top-small {
  padding-top: 0.5rem;
}
.padding-bottom-large {
  padding-bottom: 2rem;
}
.padding-bottom-normal {
  padding-bottom: 1rem;
}
.padding-bottom-small {
  padding-bottom: 0.5rem;
}