body {
  @include robotoregular;
}

strong {
  @include robotobold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include robotobold;
  margin: 0 0 0.5rem;
}

h1 {
  font-size: 2.5rem;
}

p {
  margin: 0 0 1.5rem;

  &:last-of-type {
	margin-bottom: 0;
  }
}

.btn {
  color: $white;
  text-decoration: none;
  background: $blue-light;
  text-transform: uppercase;
  padding: 1rem 2rem;
  display: inline-block;
  border: none;
  @include robotoregular();

  &--dark {
    background: $blue-dark;
  }
}
