$large: layout(12);

.container {
  @include container($large);
}

.main, .right {
  @include transition(all 300ms);
}
.main {
  @include span(full at 1 isolate);
}
.right {
  @include span(3 at 100% isolate);
  margin-right: -200%;
  background: $diamond;
  min-height: 100vh;
  color: $white;
}


.show-right {
  &:checked {
    ~ .main { @include pull(3); }
    ~ .right { @include push(1); }
  }
}

@media (min-width: 768px) {
  .show-right {
    &:checked {
      ~ .main {
        @include span(full at 1 isolate);
      }
      ~ .right {
        @include span(3 at 100% isolate);
        margin-right: -200%;
      }
    }
  }

  [for="right"] { display: none; }
}

.toggle-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.toggle {
  cursor: pointer;
}
[for] {
  position: relative;
  z-index: 10;
  padding: 0 1em;
}

[for="left"] { float: left; }
[for="right"] { float: right; }

