.news {
  background: $news-background;
  color: $white;

  &__title {
    text-transform: uppercase;

    .home & {
      margin: 0;
    }
  }

  &__link {
    color: $white;
  }

  &__date {
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 0.7;

    .home & {
      display: inline-block;
      margin-bottom: 0.5rem;
    }
  }

  .col-4 {
    @include span(12 of 12 inside);

    @include breakpoint(600px) {
      @include span(6 of 12 inside);

      &:nth-child(2n + 2) {
        clear: left;
      }
    }

    @include breakpoint($desktop) {
      @include span(4 of 12 inside);

      &:nth-child(2n + 2) {
        clear: none;
      }

      &:nth-child(3n + 2) {
        clear: left;
      }
    }
  }

  .newsletter {

  }

  @include breakpoint($tablet-max) {
    padding: 1.5rem 0;

    .newsletter {
      margin: 0.5rem 0 1.5rem 0;
    }
  }
}
