.sponsors {

  &-board{
    &__sponsor {
      display: block;
      padding: 1.25rem;
      .sponsors--bottom & {
        padding: 0.75rem;
      }
      margin-bottom: 1.38889%*6;
      position: relative;
    }
    &__info {
      @include diagonal-gradient($blue-light-gradient1, $blue-light-gradient2, $blue-light-gradient1, $blue-light-gradient2);
      display: block;
      color: $white;
      text-align: center;
      padding: 2.5rem;
      margin-bottom: 1.38889%*6;
      position: relative;

      @include breakpoint($tablet) {
        min-height: 8.25rem;
        padding: 2rem 1.5rem;
      }

      @include breakpoint($desktop) {
        min-height: 12.25rem;
        padding: 3.5rem 2rem;
      }

      @include breakpoint($wide) {
        min-height: 14.25rem;
        padding: 4rem 2rem;
      }
      &-become {
        color: $white;
        &:focus,
        &:hover {
          color: $white;
        }
      }
      &:focus,
      &:hover {
        .sponsors__link {
					position: relative;
        }
      }
    }
    &__info-text {
			@include opensanslight;
      display: block;
      margin-bottom: 1.5rem;

			a {
				color: $white;
				@include opensansbold;
			}
    }
    &__info-title {
			color: $white;
			font-size: 1.4rem;
      text-transform: uppercase;
      display: block;
      margin-bottom: 0.5rem;
      @include opensanscondensedbold;
    }
    &--all {
      position: relative;
    }
  }

  &--bottom {
    background: $sponsor-background;
    [class*=col-] > .sponsors__link {
      background: $white;
    }
  }

  &__title {
    .home & {
      text-transform: uppercase;
    }

    &--diamond {
      color: $diamond;
    }

    &--platinum {
      color: $platinum;
    }

    &--gold {
      color: $gold;
    }

    &--silver {
      color: $silver;
    }

    &--contributing {
      color: $contributing;
    }
  }
  &__sponsor {
    @include font-size($middle-font-size);

    &-name {
      color: $blue-dark;
    }
    &-description {
    }
    &-website {
      @extend .margin-top-normal;
      a {
        padding-right: 2rem;
        color: $link-bright;
      }
    }
    &-line {
      @extend .separator-line;
    }
    &-link {}
  }
}
