        <div class="grid">
            <div class="grid__inner">
                <div class="col-xs-6 col-3">
                    button<br/>
                    button<br/>
                    button
                </div>
                <div class="col-xs-6 col-3">
                    text
                </div>
                <div class="col-xs-6 col-3">
                    text
                </div>
                <div class="col-xs-6 col-3">
                    newsletter<br/>
                    socials
                </div>
            </div>
        </div>