        <div class="grid">
            <div class="grid__inner">
                <div class="col-xs-6 col-1_5">
                    <ul class="list">
                        <li><a href="javascript:void(0);" class="btn fix-size small center">get your ticket</a></li>
                        <li><a href="javascript:void(0);" class="btn fix-size small center">Call for papers</a></li>
                        <li><a href="javascript:void(0);" class="btn fix-size small center">became a sponsor</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-2_5">
                    <ul class="navigation_list">
                        <li><a href="javascript:void(0);" class="">text </a></li>
                        <li><a href="javascript:void(0);" class="">text a</a></li>
                        <li><a href="javascript:void(0);" class="">text ab</a></li>
                        <li><a href="javascript:void(0);" class="">text abc</a></li>
                        <li><a href="javascript:void(0);" class="">text d</a></li>
                        <li><a href="javascript:void(0);" class="">text def</a></li>
                        <li><a href="javascript:void(0);" class="">text gh</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-2_5 right">
                    <div class="newsletter margin-bottom-normal">
                        <form class="form" action="/">
                            <label class="form__label form__label--hidden" for="email">E-Mail</label>
                            <input class="form__input" id="email" type="email" placeholder="NEWSLETTER"><button class="btn btn--dark">Sign up</button>
                        </form>
                    </div>
                    <div class="social">
                        <ul class="list-inline">
                            <li><a href="javascript:void(0);" class="btn fix-size small center">YT</a></li>
                            <li><a href="javascript:void(0);" class="btn fix-size small center">TW</a></li>
                            <li><a href="javascript:void(0);" class="btn fix-size small center">FB</a></li>
                            <li><a href="javascript:void(0);" class="btn fix-size small center">LI</a></li>
                            <li><a href="javascript:void(0);" class="btn fix-size small center">P</a></li>
                            <li><a href="javascript:void(0);" class="btn fix-size small center">XI</a></li>
                        </ul>
                    </div>
        
                </div>
                <div class="col-12 center margin-top-large">
                    <ul class="list-inline">
                        <li>2011-2017 Frontend Conference Zürich</li>
                        <li><a href="javascript:void(0);" class="">Impressum</a></li>
                        <li><a href="javascript:void(0);" class="">Terms</a></li>
                    </ul>
                </div>
            </div>
        </div>