        <div class="grid">
            <div class="grid__inner">
                <div class="col-12">
                    <div class="header__left">
                        <a href="/" class="header__link-home">
                            <img class="header__logo" src="assets/images/fec-logo.svg" alt="">
                        </a>
                        <a href="/" class="header__tickets">
                            Tickets
                        </a>
                        <button class="header__hamburger">
                            <span class="header__hamburger-bar"></span>
                        </button>
                    </div>
                    <div class="header__right">
                        <nav class="navigation">
                            <ul class="navigation__list">
                                <li class="navigation__element">
                                    <a href="speakers.html" class="navigation__link navigation__link-speakers">
                                        Speakers
                                    </a>
                                </li>
                                <li class="navigation__element">
                                    <a href="javascript:void(0)" class="navigation__link">
                                        Schedule
                                    </a>
                                </li>
                                <li class="navigation__element">
                                    <a href="javascript:void(0)" class="navigation__link">
                                        Venue
                                    </a>
                                </li>
                                <li class="navigation__element">
                                    <a href="blog.html" class="navigation__link navigation__link-blog">
                                        Blog
                                    </a>
                                </li>
                                <li class="navigation__element">
                                    <a href="sponsors.html" class="navigation__link navigation__link-sponsors">
                                        Sponsors
                                    </a>
                                </li>
                                <li class="navigation__element">
                                    <a href="javascript:void(0)" class="navigation__link">
                                        About
                                    </a>
                                </li>
                                <li class="navigation__element navigation__element--tickets">
                                    <a href="javascript:void(0)" class="navigation__link navigation__link--tickets">
                                        Tickets
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>