    <title>FEC</title>
    <meta charset="UTF-8"/>
    <meta name="author" content=""/>
    <meta name="description" content="S"/>
    <meta name="keywords" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/default.css" type="text/css" media="all"/>