        <div class="grid">
            <div class="grid__inner">
                <div class="col-12">
                    <div class="intro__top-content">
                        <h1 class="intro__title">
                            Frontend Conference Zurich
                        </h1>
                        <div class="intro__content">
                            <p>
                                Where design meets technology
                                <br>
                                31 Aug - 1 Sept 2017
                                <br>
                                Alte Papierfabrik, Zürich
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro__bottom-content">
            <div class="grid">
                <div class="grid__inner">
                    <div class="col-12">
                        <div class="intro__bottom-left">
                            <a href="javascript:void(0);" class="btn">
                                Call for papers
                            </a>
                            <a href="javascript:void(0);" class="btn">
                                Become a sponsor
                            </a>
                        </div>
                        <div class="intro__bottom-right">
                            <form class="form" action="/">
                                <label class="form__label form__label--hidden" for="email">E-Mail</label>
                                <input class="form__input" id="email" type="email" placeholder="NEWSLETTER"><button class="btn btn--dark">Sign up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>