        <div class="grid ">
            <div class="grid__inner eq-height">
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/AdJTW_dqGhY/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Sara Nelson
                                    </span>
                                    <span class="person__job-title">
                                        Frontend Developer bla bla bla bla bla bla
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/PgSu429ID5o/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Duane Evans
                                    </span>
                                    <span class="person__job-title">
                                        Traveler bla bla bla bla bla bla bla bla bla bla bla bla  bla bla bla bla bla  bla bla bla bla bla
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/py7feWexX4c/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Sebastian Medina
                                    </span>
                                    <span class="person__job-title">
                                        Author
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/AdJTW_dqGhY/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Sara Nelson
                                    </span>
                                    <span class="person__job-title">
                                        Frontend Developer bla bla bla bla bla bla
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/PgSu429ID5o/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Duane Evans
                                    </span>
                                    <span class="person__job-title">
                                        Traveler bla bla bla bla bla bla bla bla bla bla bla bla  bla bla bla bla bla  bla bla bla bla bla
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/py7feWexX4c/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Sebastian Medina
                                    </span>
                                    <span class="person__job-title">
                                        Author
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/AdJTW_dqGhY/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Sara Nelson
                                    </span>
                                    <span class="person__job-title">
                                        Frontend Developer bla bla bla bla bla bla
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/PgSu429ID5o/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Duane Evans
                                    </span>
                                    <span class="person__job-title">
                                        Traveler bla bla bla bla bla bla bla bla bla bla bla bla  bla bla bla bla bla  bla bla bla bla bla
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/py7feWexX4c/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Sebastian Medina
                                    </span>
                                    <span class="person__job-title">
                                        Author
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/AdJTW_dqGhY/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Sara Nelson
                                    </span>
                                    <span class="person__job-title">
                                        Frontend Developer bla bla bla bla bla bla
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/PgSu429ID5o/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Duane Evans
                                    </span>
                                    <span class="person__job-title">
                                        Traveler bla bla bla bla bla bla bla bla bla bla bla bla  bla bla bla bla bla  bla bla bla bla bla
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/py7feWexX4c/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Sebastian Medina
                                    </span>
                                    <span class="person__job-title">
                                        Author
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/AdJTW_dqGhY/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Sara Nelson
                                    </span>
                                    <span class="person__job-title">
                                        Frontend Developer bla bla bla bla bla bla
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/PgSu429ID5o/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Duane Evans
                                    </span>
                                    <span class="person__job-title">
                                        Traveler bla bla bla bla bla bla bla bla bla bla bla bla  bla bla bla bla bla  bla bla bla bla bla
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/py7feWexX4c/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Sebastian Medina
                                    </span>
                                    <span class="person__job-title">
                                        Author
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/AdJTW_dqGhY/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Sara Nelson
                                    </span>
                                    <span class="person__job-title">
                                        Frontend Developer bla bla bla bla bla bla
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/PgSu429ID5o/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Duane Evans
                                    </span>
                                    <span class="person__job-title">
                                        Traveler bla bla bla bla bla bla bla bla bla bla bla bla  bla bla bla bla bla  bla bla bla bla bla
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/py7feWexX4c/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Sebastian Medina
                                    </span>
                                    <span class="person__job-title">
                                        Author
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/AdJTW_dqGhY/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Sara Nelson
                                    </span>
                                    <span class="person__job-title">
                                        Frontend Developer bla bla bla bla bla bla
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/PgSu429ID5o/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Duane Evans
                                    </span>
                                    <span class="person__job-title">
                                        Traveler bla bla bla bla bla bla bla bla bla bla bla bla  bla bla bla bla bla  bla bla bla bla bla
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/py7feWexX4c/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Sebastian Medina
                                    </span>
                                    <span class="person__job-title">
                                        Author
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/AdJTW_dqGhY/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Sara Nelson
                                    </span>
                                    <span class="person__job-title">
                                        Frontend Developer bla bla bla bla bla bla
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/PgSu429ID5o/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Duane Evans
                                    </span>
                                    <span class="person__job-title">
                                        Traveler bla bla bla bla bla bla bla bla bla bla bla bla  bla bla bla bla bla  bla bla bla bla bla
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/py7feWexX4c/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Sebastian Medina
                                    </span>
                                    <span class="person__job-title">
                                        Author
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/AdJTW_dqGhY/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Sara Nelson
                                    </span>
                                    <span class="person__job-title">
                                        Frontend Developer bla bla bla bla bla bla
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/PgSu429ID5o/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Duane Evans
                                    </span>
                                    <span class="person__job-title">
                                        Traveler bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla  bla bla bla bla bla
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/py7feWexX4c/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Sebastian Medina
                                    </span>
                                    <span class="person__job-title">
                                        Author
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/AdJTW_dqGhY/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Sara Nelson
                                    </span>
                                    <span class="person__job-title">
                                        Frontend Developer bla bla bla bla bla bla
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/PgSu429ID5o/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Duane Evans
                                    </span>
                                    <span class="person__job-title">
                                        Traveler bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person">
                        <a class="person__image-container" href="speaker.html">
                            <span class="person__image">
                                <img src="https://source.unsplash.com/py7feWexX4c/768x768" alt="">
                            </span>
                            <span class="person__caption">
                                <h3 class="person__title">
                                    <span class="person__name">
                                        Sebastian Medina
                                    </span>
                                    <span class="person__job-title">
                                        Author
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="person__more">
                    <a href="javascript:void(0)" class="speakers__link">
                        <span class="speakers__link-text">
                            More to come...
                        </span>
                    </a>
                </div>
                </div>
            </div>
        </div>
