        <div class="grid">
            <div class="grid__inner">
                <div class="col-12">
                    <h3 class="sponsors__title sponsors__title--gold">
                        Gold
                    </h3>
                </div>
                <div class="col-2 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-2 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-2 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-2 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-2 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-2 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-12">
                    <h3 class="sponsors__title sponsors__title--silver">
                        Silver
                    </h3>
                </div>
                <div class="col-1_8 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-1_8 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-1_8 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-1_8 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-1_8 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-1_8 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-1_8 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-1_8 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-1_8 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-1_8 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-1_8 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-1_8 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-1_8 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-1_8 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-1_8 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-1_8 col-xs-4">
                    <a href="javascript:void(0)" class="sponsors-board__sponsor sponsors__link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
            </div>
        </div>