        <div class="venue__container">
            <div class="venue__image"></div>
            <div class="venue__inner">
                <div class="venue__content">
                    <div class="venue__head">
                        <h2>
                            Venue
                        </h2>
                    </div>
                    <div class="venue__venue">
                        <div class="venue__sub-title-container">
                            <h3>
                                Alte Papierfabrik, Zurich
                            </h3>
                        </div>
                        <div class="venue__text">
                            <p>
                                Etiam at risus et justo dignissim congue  lorem Etiam at risus et justo. The event takes place in the Alte Papierfabrik congue lorem Etiam at risus.
                                Learn more
                            </p>
                        </div>
                    </div>
                    <div class="venue__zurich">
                        <div class="venue__sub-title-container">
                            <h3>
                                Visit Zurich
                            </h3>
                        </div>
                        <div class="venue__text">
                            <p>
                                Etiam at risus et justo dignissim congue  lorem Etiam at risus et justo. The event takes place in the Alte Papierfabrik congue lorem Etiam at risus.
                                Learn more
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="venue__col-6">
        </div>