        <div class="grid">
            <div class="grid__inner eq-height">
                <div class="col-12">
                    <h2>
                        Workshops
                    </h2>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="workshop">
                        <a class="workshop__link" href="workshops.html">
                            <span class="workshop__image-container">
                                <img class="workshop__image" src="https://source.unsplash.com/AdJTW_dqGhY/768x768" alt="">
                            </span>
                            <span class="workshop__caption">
                                <h3 class="workshop__description">
                                    <span class="workshop__title">
                                        This is a Workshop title multilines
                                    </span>
                                    <span class="workshop__author">
                                        Timo Maas Frontend Developer
                                    </span>
                                    <span class="workshop__date">
                                        30.08.17
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="workshop">
                        <a class="workshop__link" href="workshops.html">
                            <span class="workshop__image-container">
                                <img class="workshop__image" src="https://source.unsplash.com/PgSu429ID5o/768x768" alt="">
                            </span>
                            <span class="workshop__caption">
                                <h3 class="workshop__description">
                                    <span class="workshop__title">
                                        This is the title we deserve
                                    </span>
                                    <span class="workshop__author">
                                        Phil Collins
                                    </span>
                                    <span class="workshop__date">
                                        30.08.17
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <div class="workshop">
                        <a class="workshop__link" href="workshops.html">
                            <span class="workshop__image-container">
                                <img class="workshop__image" src="https://source.unsplash.com/py7feWexX4c/768x768" alt="">
                            </span>
                            <span class="workshop__caption">
                                <h3 class="workshop__description">
                                    <span class="workshop__title">
                                        Copyleft vs Copyright
                                    </span>
                                    <span class="workshop__author">
                                        Sebastian Medina copyrighter
                                    </span>
                                    <span class="workshop__date">
                                        30.08.17
                                    </span>
                                </h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-3">
                    <a href="javascript:void(0)" class="workshops__link">
                        <span class="workshops__link-text">
                            All workshops
                        </span>
                    </a>
                </div>
            </div>
        </div>
