@mixin robotolight() {
  font-weight: 300;
}

@mixin robotoregular() {
  font-weight: normal;
}

@mixin robotobold() {
  font-weight: 600;
}

@mixin transition($transition) {
  transition: $transition;
}

@mixin clearfix() {
  &:before,
  &:after {
	content: " ";
	display: table;
  }
  &:after {
	clear: both;
  }
}
