@mixin robotolight() {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

@mixin robotoregular() {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

@mixin robotobold() {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

@mixin transition($transition) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin clearfix() {
  &:before,
  &:after {
	content: " ";
	display: table;
  }
  &:after {
	clear: both;
  }
}
