<nav class="navigation">
    <ul class="navigation__list">
        <li class="navigation__element">
            <a href="speakers.html" class="navigation__link navigation__link-speakers">
                Speakers
            </a>
        </li>
        <li class="navigation__element">
            <a href="javascript:void(0)" class="navigation__link">
                Schedule
            </a>
        </li>
        <li class="navigation__element">
            <a href="venue.html" class="navigation__link navigation__link-venue">
                Venue
            </a>
        </li>
        <li class="navigation__element">
            <a href="blog.html" class="navigation__link navigation__link-blog">
                Blog
            </a>
        </li>
        <li class="navigation__element">
            <a href="sponsors.html" class="navigation__link navigation__link-sponsors">
                Sponsors
            </a>
        </li>
        <li class="navigation__element">
            <a href="javascript:void(0)" class="navigation__link">
                About
            </a>
        </li>
        <li class="navigation__element navigation__element--tickets">
            <a href="javascript:void(0)" class="navigation__link navigation__link--tickets">
                Tickets
            </a>
        </li>
    </ul>
</nav>