        <div class="grid">
            <div class="grid__inner">
                <div class="col-12">
                    <h2>News</h2>
                </div>
                <div class="col-4">
                    <h3 class="news__title">
                        <a class="news__link" href="javascript:void(0)">
                            Work in Progress #fec17 LOREM IPSUM DOLOR SIT Work in Progress
                        </a>
                    </h3>
                    <time class="news__date">
                        3rd March 2017
                    </time>
                </div>
                <div class="col-4">
                    <h3 class="news__title">
                        <a class="news__link" href="javascript:void(0)">
                            #FEC16 is over: Check out
                        </a>
                    </h3>
                    <time class="news__date">
                        2nd March 2017
                    </time>
                </div>
                <div class="col-4">
                    <h3 class="news__title">
                        <a class="news__link" href="javascript:void(0)">
                            #FEC16 is over: Check out the videos ispum
                        </a>
                    </h3>
                    <time class="news__date">
                        1st March 2017
                    </time>
                </div>
            </div>
        </div>