.intro {
  background: url("../images/intro.jpg") no-repeat;
  background-size: cover;
  height: calc(100vh - 5rem);
  color: $white;
  position: relative;

  &__top-content {
	padding-top: 2rem;
  }

  &__title {
	text-transform: uppercase;
	line-height: 1;
  }

  &__content {
	letter-spacing: 0.05em;
	font-size: 2rem;
	text-transform: uppercase;
	@include robotolight;
  }

  &__bottom-content {
	padding: 1.5rem 0;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.75);
	line-height: 1;
	@include robotobold;
  }
}
