.job-board {
  background: $job-board-background;

  &__job {
    background: $white;
    display: block;
    color: $blue-dark;
    padding: 1.25rem;
    margin-bottom: 1.38889%*6;
    position: relative;

    @include breakpoint($tablet) {
      min-height: 8.25rem;
    }

    @include breakpoint($desktop) {
      min-height: 7.25rem;
    }

    @include breakpoint($wide) {
      min-height: 8.25rem;
    }

    &--all {
      position: relative;
      min-height: 3.75rem;
    }

    @include breakpoint($tablet-max) {
      margin-bottom: 0.5rem;
    }
  }

  &__job-title {
    text-transform: uppercase;
    display: block;
    margin-bottom: 0.5rem;
    @include opensanscondensedbold;

    &--all {
      text-align: center;
      margin-bottom: 0;
      @include middle(absolute);
    }

    @include breakpoint($tablet-max) {
      font-size: 1.125rem;
    }
  }

  &__company {
    text-transform: uppercase;
    opacity: 0.7;
    @include font-size($small-font-size);
  }

  &__freshjobs-container {
    text-align: right;
    text-transform: uppercase;
    @include font-size($xsmall-font-size);
  }

  &__freshjobs-link {
    &:focus,
    &:hover {
      .job-board__freshjobs-logo {
        fill: $link-hover;
      }
    }
  }

  &__freshjobs-logo {
    display: inline-block;
    height: 31px;
    width: 110px;
    position: relative;
    top: 10px;
    margin-left: 0.75rem;
    fill: #37474f;
    @include transition(fill 0.4s ease);
  }

  @include breakpoint($tablet-max) {
    .col-4 {
      @include span(12 inside);
      // TODO: Figure out why this is needed
      padding-left: 1.38889%;
      padding-right: 1.38889%;
    }
  }
}
