.iubenda-cs-rationale {
  max-width: none !important;
}

.iubenda-banner-content {
  margin-right: 2rem;
}

.iubenda-banner-content p {
  margin: 0;
}

.iubenda-banner-content br {
  display: none;
}

.iubenda-cs-close-btn {
  line-height: 1;
}
