$large: layout(12);

.container {
  @include container($large);
}

.offcanvasMain {
  @include span(full at 1 isolate);
	background: $white;
}

@media (max-width: $tablet) {

	.offcanvasMain, .offcanvasRight {
	  @include transition(all 300ms);
	}

	.offcanvasRight {
	  // @include span(4 at 100% isolate);
		width: 80%;
		padding: 20px 40px;
	  margin-left: 20%;
	  background: $diamond;
	  min-height: 100vh;
	  a {
	    color: $white;
	  }
	}

	.show-right {
	  &:checked {
			~ .header, ~ .offcanvasMain, ~ .offcanvasRight {
				position: fixed;
			}

			~ .header {
				z-index: 99;
				width: 100%;
			}

			~ .offcanvasMain {
				z-index: 98;
			}

			~ .offcanvasMain, ~ .offcanvasRight {
				top: 60px;
			}

	    ~ .offcanvasMain { margin-left: -80%; }
	    ~ .offcanvasRight { margin-left: 20%; }
	  }
	}
}

@media (min-width: $tablet) {
  [for="right"], .offcanvasRight { display: none; }
}

.toggle-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.toggle {
  cursor: pointer;
}
[for] {
  position: relative;
  z-index: 10;
  padding: 0 1em;
}

[for="left"] { float: left; }
[for="right"] { float: right; }
