$white: #fff;
$black: #000;
$red: red;
$blue-light: #00b9db;
$blue-dark: #36474f;
$blue-darker: #263238;

$news-background: #77909d;
$venue-background: $blue-light;
$job-board-background: #e3e8eb;
$sponsor-background: #e3e8eb;

$diamond: #1c1c1c;
$platinum: #646a71;
$gold: #ac9e41;
$silver: #a6abb1 ;
$contributing: #cfd8dc;

$link: $blue-dark;
$link-active: #607d8b;
$link-hover: #c51162;

$blue-light-gradient1: #00b8d4;
$blue-light-gradient2: #0091ea;
$red-light-gradient1: #c51162;
$red-light-gradient2: #d50000;

$footer-background: $blue-darker;