// BORDER BOX
// =============================================================================
@include border-box-sizing;

// CONFIGURE SUSY 2 GLOBAL DEFAULTS
// =============================================================================

$susy: (
  columns: 12,
  gutters: 20px/40px,
  column-width: 40px,
  container: 1280px,
  // gutter-position: inside-static,
  debug: (
    image: show-columns,
    color: rgba($red,0.1),
    // output: overlay,
    // toggle: bottom right,
  ),
);


// BREAKPOINT VARIABLES
// =============================================================================

//Bottom up
$tablet: 700px;
$desktop: 1025px;
$wide: 1200px;

//Top down
// $small: max-width 480px;
// $tablet: max-width ($desktop-up - 1px);
// $desktop: max-width ($wide - 1px);

//Varia
$mobile: max-width ($tablet - 1px);
$tablet-only: ($tablet + 1px) ($desktop - 1px);


// GENERAL BREAKPOINTS
// =============================================================================

.grid {
	@include container($susy);
  padding: 0 15px;

  @include breakpoint($mobile) {
    @include container(4);
  }

  @include breakpoint($tablet) {
  	padding: 0 40px;
    @include container(8);
  }

  @include breakpoint($wide) {
    @include container($wide);
  }

  
}