.sponsors {
  &--bottom {
    background: $sponsor-background;
  }

  &__title {
    &--diamond {
      color: $diamond;
    }

    &--platinum {
      color: $platinum;
    }

    &--gold {
      color: $gold;
    }

    &--silver {
      color: $silver;
    }

    &--contributing {
      color: $contributing;
    }
  }
}