.navigation {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__element {
    display: block;

    @include breakpoint($tablet) {
      display: inline-block;
    }

    &--tickets {
      display: none;

      @include breakpoint($tablet) {
        display: inline-block;
      }
    }
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: $black;
    line-height: 1;
    padding: 1rem 1rem 1rem 0;
    display: block;
    @include transition(color 0.4s ease);

    @include breakpoint($tablet) {
      padding: 1rem;
      display: inline-block;
    }

    &:focus {
      color: $black;
    }

    &:hover {
      color: $link-hover;
    }

    &--active {
      color: $link-active;
    }

    &--tickets {
      @include breakpoint($tablet) {
        background: $blue-dark;
        color: $white;
        @include transition(background 0.4s ease);
      }

      &:focus,
      &:hover {
        color: $white;
        background: $link-hover;
      }
    }
  }
}

// temporary to simulate the active status, to remove and use navigation__link--active class
.blogPage .navigation__link-blog,
.sponsorsPage .navigation__link-sponsors,
.venuePage .navigation__link-venue,
.speakersPage .navigation__link-speakers {
  color: $link-active;
}