.partners.section {
  background: $footer-background;
  color: $contributing;

  .partners__title,
  .sponsors__title {
    text-transform: uppercase;
  }

  [class*=col-] > .partners__link,
  [class*=col-] > .sponsors__link {
    background: $white;
    padding: 0.75rem;
    position: relative;
  }

  &:last-child {
    @include breakpoint($tablet) {
      margin-bottom: -2rem;
    }
  }
}

.footer.section {
  @include font-size($small-font-size);
  background: $footer-background;
  color: $contributing;

  a:not(.btn) {
    color: $contributing;
    &:hover {
      color: $link-hover;
    }
  }

  .navigation_list {
    @include opensanslight;
    @extend .ul-nostyle;
    columns: 2;
    li {
      line-height: 2rem;
      margin: 0 0 0 4rem;

      @include breakpoint($tablet-max) {
        margin-left: 0;
      }

      a {
        text-transform: uppercase;
      }
    }
  }

  .list {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: .5rem;
    }
  }

  .list-inline {
    @include opensanslight;
  }

  .newsletter {
  }
  .social {
    $social-size: 40px;

    li {
      width: $social-size;
      height: $social-size;
      padding: 0;
      margin: 0 0 .5rem .15rem;

      a {
        width: $social-size;
        height: $social-size;
        font-size: $social-size;
        line-height: $social-size;
        padding: 0;
      }
    }
  }
}

.partners.section + .footer.section {
  @media (min-width: $tablet) {
    padding-top: 1rem;
  }
}

.footer {
  .btn {
    @include breakpoint($tablet-max) {
      padding: 1rem 2rem;
      height: 48px;
    }
  }

  .col-xs-6 {
    @include breakpoint($tablet-max) {
      width: 100%;
    }
  }

  .form__input {
    @include breakpoint($tablet-max) {
      width: 100%;
      margin: 20px 0 10px 0;
    }
  }
}
