<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- partial:partials/_head.html -->
    <!-- partial -->
</head>
<body class="blogPage">
    <header class="header">
        <!-- partial:partials/_header.html -->
        <!-- partial -->
    </header>
    <section class="intro">
        <!-- partial:partials/_intro_all.html -->
        <!-- partial -->
    </section>
    <section class="section">
        <div class="grid">
            <div class="grid__inner">
                <div class="col-8">

                    <article class="blog__article margin-top-large">
                        <h2 class="blog__article-title">
                            <a href="javascript:void(0)" class="blog__article-title-link">Blog entry title</a>
                        </h2>
                        <div class="blog__article-info">
                            <span class="blog__article-info-date">03.09.17</span><span class="blog__article-info-tag">#venue</span><span class="blog__article-info-tag">#FEC17</span>
                        </div>
                        <div class="blog__article-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam. Nulla facilisi.
                                <a href="javascript:void(0)" class="blog__article-more">read more</a>
                            </p>
                        </div>
                    </article>

                    <article class="blog__article margin-top-large">
                        <h2 class="blog__article-title">
                            <a href="javascript:void(0)" class="blog__article-title-link">Blog entry title</a>
                        </h2>
                        <div class="blog__article-info">
                            <span class="blog__article-info-date">03.09.17</span><span class="blog__article-info-tag">#venue</span><span class="blog__article-info-tag">#FEC17</span>
                        </div>

                        <div class="grid__inner">
                            <div class="blog__article-image">
                                <img class="person__image" src="https://source.unsplash.com/AdJTW_dqGhY/768x768" alt="">
                            </div>
                            <div class="blog__article-text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam. Nulla facilisi.
                                    <a href="javascript:void(0)" class="blog__article-more">read more</a>
                                </p>
                            </div>
                        </div>
                    </article>


                    <article class="blog__article margin-top-large">
                        <h2 class="blog__article-title">
                            <a href="javascript:void(0)" class="blog__article-title-link">Blog entry title</a>
                        </h2>
                        <div class="blog__article-info">
                            <span class="blog__article-info-date">03.09.17</span><span class="blog__article-info-tag">#venue</span><span class="blog__article-info-tag">#FEC17</span>
                        </div>
                        <div class="blog__article-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam. Nulla facilisi.
                                <a href="javascript:void(0)" class="blog__article-more">read more</a>
                            </p>
                        </div>
                    </article>


                    <div class="pagination">
                        <a href="#">&laquo;</a>
                        <a href="#">1</a>
                        <a class="active" href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">&raquo;</a>
                    </div>

                </div>


                <aside class="col-4 margin-top-large">
                    <div class="sponsors-board__info">
                        <a class="sponsors-board__info-become" href="javascript:void(0)">
                            <span class="sponsors-board__info-text">
                                Check these irrefutable arguments why to support us
                            </span>
                            <span class="sponsors-board__info-title sponsors__link">
                                Sponsoring-Kit 2017
                            </span>
                        </a>
                    </div>

                    <div class="margin-top-large">
                        <h3>
                            some title
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat.
                        </p>
                    </div>

                    <div class="margin-top-large">
                        <h3>
                            some title
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat.
                        </p>
                    </div>
                </aside>

            </div>
        </div>
    </section>

    <footer class="footer section">
        <!-- partial:partials/_footer.html -->
        <!-- partial -->
    </footer>
</body>
</html>
