<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- partial:partials/_head.html -->
    <!-- partial -->
</head>
<body class="home">
    <header class="header">
        <!-- partial:partials/_header.html -->
        <!-- partial -->
    </header>
    <section class="intro intro--bg-100">
        <!-- partial:partials/_intro_home.html -->
        <!-- partial -->
    </section>
    <section class="news section">
        <!-- partial:partials/_news.html -->
        <!-- partial -->
    </section>
    <section class="hosts section">
        <!-- partial:partials/_hosts.html -->
        <!-- partial -->
    </section>
    <section class="speakers section--bottom">
        <!-- partial:partials/_speakers_home.html -->
        <!-- partial -->
    </section>
    <section class="venue">
        <!-- partial:partials/_venue.html -->
        <!-- partial -->
    </section>
    <section class="job-board section">
        <!-- partial:partials/_jobs.html -->
        <!-- partial -->
    </section>
    <section class="sponsors section">
        <!-- partial:partials/_sponsorsDiamondPlatinum.html -->
        <!-- partial -->
    </section>
    <section class="sponsors sponsors--bottom section section--small">
        <!-- partial:partials/_sponsorsGoldSilver.html -->
        <!-- partial -->
    </section>
    <section class="partners section section--small">
        <!-- partial:partials/_partners.html -->
        <!-- partial -->
    </section>
    <footer class="footer section">
        <!-- partial:partials/_footer.html -->
        <!-- partial -->
    </footer>
</body>
</html>
