<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- partial:partials/_head.html -->
    <!-- partial -->
</head>
<body class="sponsors">
    <header class="header">
        <!-- partial:partials/_header.html -->
        <!-- partial -->
    </header>
    <section class="intro">
        <!-- partial:partials/_intro_all.html -->
        <!-- partial -->
    </section>
    <section class="content section">
        <div class="grid">
            <div class="grid__inner">
                <div class="col-12">
                    <h1>
                        Our generous Sponsors
                    </h1>
                </div>

                <div class="col-8 margin-top-large">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                    </p>
                </div>

                <aside class="col-4 margin-top-large right">
                    <div class="sponsors-board__info">
                        <a class="sponsors-board__info-become" href="sponsorship.html">
                            <span class="sponsors-board__info-text">
                                Check these irrefutable arguments why to support us
                            </span>
                            <span class="sponsors-board__info-title sponsors__link">
                                Sponsoring-Kit 2017
                            </span>
                        </a>
                    </div>
                </aside>

            </div>
        </div>
    </section>
    <section class="sponsors-diamond section">
        <div class="grid">
            <div class="grid__inner">
                <div class="col-12">
                    <h2 class="sponsors__title sponsors__title--diamond">
                        Diamond
                    </h2>
                </div>

                <div class="col-12"><div class="sponsors__sponsor-line"></div></div>
                <div class="col-4">
                    <a href="javascript:void(0)" class="sponsors__sponsor-link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-8">
                    <div class="sponsors__sponsor">
                        <h3 class="sponsors__sponsor-name">
                            Sponsor name
                        </h3>
                        <p class="sponsors__sponsor-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat.
                            Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam. Nulla facilisi.
                            Proin efficitur tincidunt tellus eget blandit. Fusce enim ligula, elementum et diam ac, pharetra rhoncus mi.
                            Vestibulum sed ultrices sem. Ut semper magna vitae tempor pharetra.
                            Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque vitae augue vitae dui dictum porttitor.
                            In blandit, elit et dapibus venenatis, lorem metus blandit ligula, id feugiat eros augue ultrices sem.
                        </p>
                        <p class="sponsors__sponsor-website">
                            <a href="javascript:void(0)" class="sponsors__link">
                                www.sponsor.ch
                            </a>
                            <a href="javascript:void(0)" class="sponsors__link">
                                @sponsor
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-12"><div class="sponsors__sponsor-line"></div></div>
                <div class="col-4">
                    <a href="javascript:void(0)" class="sponsors__sponsor-link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-8">
                    <div class="sponsors__sponsor">
                        <h3 class="sponsors__sponsor-name">
                            Sponsor name
                        </h3>
                        <p class="sponsors__sponsor-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat.
                            Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam. Nulla facilisi.
                            Proin efficitur tincidunt tellus eget blandit. Fusce enim ligula, elementum et diam ac, pharetra rhoncus mi.
                            Vestibulum sed ultrices sem. Ut semper magna vitae tempor pharetra.
                            Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque vitae augue vitae dui dictum porttitor.
                            In blandit, elit et dapibus venenatis, lorem metus blandit ligula, id feugiat eros augue ultrices sem.
                        </p>
                        <p class="sponsors__sponsor-website">
                            <a href="javascript:void(0)" class="sponsors__link">
                                www.sponsor.ch
                            </a>
                            <a href="javascript:void(0)" class="sponsors__link">
                                @sponsor
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sponsors-platinum section">
        <div class="grid">
            <div class="grid__inner">
                <div class="col-12">
                    <h2 class="sponsors__title sponsors__title--platinum">
                        Platinum
                    </h2>
                </div>

                <div class="col-12"><div class="sponsors__sponsor-line"></div></div>
                <div class="col-4">
                    <a href="javascript:void(0)" class="sponsors__sponsor-link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-8">
                    <div class="sponsors__sponsor">
                        <h3 class="sponsors__sponsor-name">
                            Sponsor name
                        </h3>
                        <p class="sponsors__sponsor-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat.
                            Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam. Nulla facilisi.
                            Proin efficitur tincidunt tellus eget blandit. Fusce enim ligula, elementum et diam ac, pharetra rhoncus mi.
                            Vestibulum sed ultrices sem. Ut semper magna vitae tempor pharetra.
                            Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque vitae augue vitae dui dictum porttitor.
                            In blandit, elit et dapibus venenatis, lorem metus blandit ligula, id feugiat eros augue ultrices sem.
                        </p>
                        <p class="sponsors__sponsor-website">
                            <a href="javascript:void(0)" class="sponsors__link">
                                www.sponsor.ch
                            </a>
                            <a href="javascript:void(0)" class="sponsors__link">
                                @sponsor
                            </a>
                        </p>
                    </div>
                </div>

                <div class="col-12"><div class="sponsors__sponsor-line"></div></div>
                <div class="col-4">
                    <a href="javascript:void(0)" class="sponsors__sponsor-link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-8">
                    <div class="sponsors__sponsor">
                        <h3 class="sponsors__sponsor-name">
                            Sponsor name
                        </h3>
                        <p class="sponsors__sponsor-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat.
                            Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam. Nulla facilisi.
                            Proin efficitur tincidunt tellus eget blandit. Fusce enim ligula, elementum et diam ac, pharetra rhoncus mi.
                            Vestibulum sed ultrices sem. Ut semper magna vitae tempor pharetra.
                            Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque vitae augue vitae dui dictum porttitor.
                            In blandit, elit et dapibus venenatis, lorem metus blandit ligula, id feugiat eros augue ultrices sem.
                        </p>
                        <p class="sponsors__sponsor-website">
                            <a href="javascript:void(0)" class="sponsors__link">
                                www.sponsor.ch
                            </a>
                            <a href="javascript:void(0)" class="sponsors__link">
                                @sponsor
                            </a>
                        </p>
                    </div>
                </div>

                <div class="col-12"><div class="sponsors__sponsor-line"></div></div>
                <div class="col-4">
                    <a href="javascript:void(0)" class="sponsors__sponsor-link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-8">
                    <div class="sponsors__sponsor">
                        <h3 class="sponsors__sponsor-name">
                            Sponsor name
                        </h3>
                        <p class="sponsors__sponsor-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat.
                            Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam. Nulla facilisi.
                            Proin efficitur tincidunt tellus eget blandit. Fusce enim ligula, elementum et diam ac, pharetra rhoncus mi.
                            Vestibulum sed ultrices sem. Ut semper magna vitae tempor pharetra.
                            Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque vitae augue vitae dui dictum porttitor.
                            In blandit, elit et dapibus venenatis, lorem metus blandit ligula, id feugiat eros augue ultrices sem.
                        </p>
                        <p class="sponsors__sponsor-website">
                            <a href="javascript:void(0)" class="sponsors__link">
                                www.sponsor.ch
                            </a>
                            <a href="javascript:void(0)" class="sponsors__link">
                                @sponsor
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer section">
        <!-- partial:partials/_footer.html -->
        <!-- partial -->
    </footer>
</body>
</html>
