<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- partial:partials/_head.html -->
    <!-- partial -->
</head>
<body>
    <header class="header">
        <!-- partial:partials/_header.html -->
        <!-- partial -->
    </header>
    <section class="intro">
        <!-- partial:partials/_intro_all.html -->
        <!-- partial -->
    </section>
    <section class="content section">
        <div class="grid">
            <div class="grid__inner">
                <div class="col-12">
                    <h1>
                        Sponsorship
                    </h1>
                </div>
                <div class="col-8 margin-top-large">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                    </p>

                    <h3>Benefit</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                    </p>

                    <h3>Benefit</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                    </p>

                </div>

                <aside class="col-4 margin-top-large right">
                    <div class="sponsors-board__info">
                        <a class="sponsors-board__info-become" href="javascript:void(0)">
                            <span class="sponsors-board__info-text">
                                Check these irrefutable arguments why to support us
                            </span>
                            <span class="sponsors-board__info-title sponsors__link">
                                Sponsoring-Kit 2017
                            </span>
                        </a>
                    </div>
                </aside>

            </div>
        </div>
    </section>

    <section class="section">
        <div class="grid">
            <div class="grid__inner">
                <div class="col-2">
                    <a href="javascript:void(0)" class="sponsors__sponsor-link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                </div>
                <div class="col-6 margin-top-large">
                    <h3>Diamond</h3>
                    <p>
                        <strong>Meant for big companies</strong>
                    </p>
                    <p>
                        Includes everything for maximum brand visibility
                        Large logo on all conference signage & banners.
                        Rollup on stage.
                        Exhibit Table.
                        6 full conference passes included.
                        4 free freshjobs.ch submissions.
                        Dedicated page in the booklet.
                    </p>
                </div>

                <aside class="col-4 margin-top-large right">
                    <div class="sponsors-board__info">
                        <a class="sponsors-board__info-become" href="javascript:void(0)">
                            <span class="sponsors-board__info-text">
                                Ready to become a sponsor?
                                <br/>
                                Any questions?
                            </span>
                            <span class="sponsors-board__info-title sponsors__link">
                                Contact us
                            </span>
                        </a>
                    </div>
                </aside>

            </div>
        </div>
    </section>

    <section class="section">
        <div class="grid">
            <div class="grid__inner">
                <div class="col-4">
                    <a href="javascript:void(0)" class="sponsors__sponsor-link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                    <h3>Platinum</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                    </p>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0)" class="sponsors__sponsor-link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                    <h3>Gold</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                    </p>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0)" class="sponsors__sponsor-link">
                        <img class="sponsors__logo" src="assets/images/sponsors/slack.svg">
                    </a>
                    <h3>Silver</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer section">
        <!-- partial:partials/_footer.html -->
        <!-- partial -->
    </footer>
</body>
</html>
