<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- partial:partials/_head.html -->
    <!-- partial -->
</head>
<body class="venuePage">
    <div class="container">
        <input type="checkbox" id="right" class="toggle-input show-right" />

        <header class="header">
            <!-- partial:partials/_header.html -->
            <!-- partial -->
        </header>
        <div class="offcanvasMain">
            <section class="intro">
                <!-- partial:partials/_intro_all.html -->
                <!-- partial -->
            </section>
            <section class="content section">
                <div class="grid">
                    <div class="grid__inner">
                        <div class="col-12">
                            <h1>
                                Alte Sihlpapierfabrik
                            </h1>
                        </div>
                        <div class="col-8 margin-top-large">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                            </p>

                            <h3>bla bla bla</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                            </p>


                        </div>

                        <aside class="col-4 margin-top-large right">
                            <h3>Address</h3>
                            <p>
                                Alte Sihlpapierfabrik<br/>
                                Kalanderplatz 1<br/>
                                8045 Zurich
                            </p>
                        </aside>

                    </div>
                </div>
            </section>
            <section class="venue">
                <!-- partial:partials/_map.html -->
                <!-- partial -->
            </section>
            <section class="section--top">
                <div class="grid">
                    <div class="grid__inner">
                        <div class="col-12">
                            <h3>How to find us</h3>
                            <h4>From the airport</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                            </p>

                            <h4>From Zürich Hauptbahnhof</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                            </p>

                            <h4>Other ways to get there</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                            </p>
                        </div>

                        <div class="col-12 margin-top-large">
                            <h2>
                                Visit Zurich. Discover a Singular Mix.
                            </h2>
                        </div>
                        <div class="col-8">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                            </p>
                        </div>
                        <div class="col-4">
                            <a href="javascript:void(0)" class="accomodation__link">
                                <img class="accomodation__logo" src="assets/images/sponsors/slack.svg">
                            </a>
                        </div>
                    </div>
                </div>

            </section>

            <section class="section--small">
                <div class="grid">
                    <div class="grid__inner">
                        <div class="col-12">
                            <h3>
                                Sleeping in Zurich.
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                            </p>
                        </div>

                    </div>

                    <div class="grid__inner accomodation">
                        <div class="col-3">
                            <a href="javascript:void(0)" class="accomodation__link">
                                <img class="accomodation__logo" src="assets/images/sponsors/slack.svg">
                            </a>
                        </div>
                        <div class="col-9">
                            <h4 class="accomodation__title">Hotel Blablabla</h4>
                            <p class="accomodation__description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                            </p>
                        </div>
                    </div>

                    <div class="grid__inner accomodation">
                        <div class="col-3">
                            <a href="javascript:void(0)" class="accomodation__link">
                                <img class="accomodation__logo" src="assets/images/sponsors/slack.svg">
                            </a>
                        </div>
                        <div class="col-9">
                            <h4 class="accomodation__title">Hotel Blablabla</h4>
                            <p class="accomodation__description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                            </p>
                        </div>
                    </div>

                    <div class="grid__inner accomodation">
                        <div class="col-3">
                            <a href="javascript:void(0)" class="accomodation__link">
                                <img class="accomodation__logo" src="assets/images/sponsors/slack.svg">
                            </a>
                        </div>
                        <div class="col-9">
                            <h4 class="accomodation__title">Hotel Blablabla</h4>
                            <p class="accomodation__description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                            </p>
                        </div>
                    </div>

                    <div class="grid__inner accomodation">
                        <div class="col-3">
                            <a href="javascript:void(0)" class="accomodation__link">
                                <img class="accomodation__logo" src="assets/images/sponsors/slack.svg">
                            </a>
                        </div>
                        <div class="col-9">
                            <h4 class="accomodation__title">Hotel Blablabla</h4>
                            <p class="accomodation__description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section--bottom">
                <div class="grid">
                    <div class="grid__inner eq-height">
                        <div class="col-12">
                            <h3>
                                Eating & Drinking in Zurich
                            </h3>
                            <p>
                                Handpicked recommendations from our staff!
                            </p>
                        </div>
                        <div class="col-3">
                            <div class="accomodation">
                                <a href="javascript:void(0)" class="accomodation__link">
                                    <span class="accomodation__image-container">
                                        <img class="accomodation__logo" src="assets/images/sponsors/slack.svg">
                                    </span>
                                    <span class="accomodation__caption">
                                        <h4 class="accomodation__title">Colorado café</h4>
                                        <p class="accomodation__description">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                                        </p>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="accomodation">
                                <a href="javascript:void(0)" class="accomodation__link">
                                    <span class="accomodation__image-container">
                                        <img class="accomodation__logo" src="assets/images/sponsors/slack.svg">
                                    </span>
                                    <span class="accomodation__caption">
                                        <h4 class="accomodation__title">Colorado café</h4>
                                        <p class="accomodation__description">
                                            Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                                        </p>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="accomodation">
                                <a href="javascript:void(0)" class="accomodation__link">
                                    <span class="accomodation__image-container">
                                        <img class="accomodation__logo" src="assets/images/sponsors/slack.svg">
                                    </span>
                                    <span class="accomodation__caption">
                                        <h4 class="accomodation__title">Colorado café</h4>
                                        <p class="accomodation__description">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus tincidunt aliquam.
                                        </p>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="accomodation">
                                <a href="javascript:void(0)" class="accomodation__link">
                                    <span class="accomodation__image-container">
                                        <img class="accomodation__logo" src="assets/images/sponsors/slack.svg">
                                    </span>
                                    <span class="accomodation__caption">
                                        <h4 class="accomodation__title">Colorado café</h4>
                                        <p class="accomodation__description">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat.
                                        </p>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="accomodation">
                                <a href="javascript:void(0)" class="accomodation__link">
                                    <span class="accomodation__image-container">
                                        <img class="accomodation__logo" src="assets/images/sponsors/slack.svg">
                                    </span>
                                    <span class="accomodation__caption">
                                        <h4 class="accomodation__title">Colorado café</h4>
                                        <p class="accomodation__description">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                                        </p>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="accomodation">
                                <a href="javascript:void(0)" class="accomodation__link">
                                    <span class="accomodation__image-container">
                                        <img class="accomodation__logo" src="assets/images/sponsors/slack.svg">
                                    </span>
                                    <span class="accomodation__caption">
                                        <h4 class="accomodation__title">Colorado café</h4>
                                        <p class="accomodation__description">
                                            Vivamus facilisis lectus congue accumsan consequat. Maecenas quis nunc posuere ante luctus euismod. Nam rhoncus tincidunt aliquam.
                                        </p>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="accomodation">
                                <a href="javascript:void(0)" class="accomodation__link">
                                    <span class="accomodation__image-container">
                                        <img class="accomodation__logo" src="assets/images/sponsors/slack.svg">
                                    </span>
                                    <span class="accomodation__caption">
                                        <h4 class="accomodation__title">Colorado café</h4>
                                        <p class="accomodation__description">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus tincidunt aliquam.
                                        </p>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="accomodation">
                                <a href="javascript:void(0)" class="accomodation__link">
                                    <span class="accomodation__image-container">
                                        <img class="accomodation__logo" src="assets/images/sponsors/slack.svg">
                                    </span>
                                    <span class="accomodation__caption">
                                        <h4 class="accomodation__title">Colorado café</h4>
                                        <p class="accomodation__description">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus congue accumsan consequat.
                                        </p>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <footer class="footer section">
                <!-- partial:partials/_footer.html -->
                <!-- partial -->
            </footer>
        </div>
        <div class="offcanvasRight" id="offcanvasRight">
            <!-- partial:partials/_navigation_offcanvas.html -->
            <!-- partial -->
        </div>
    </div>
</body>
</html>
