<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- partial:partials/_head.html -->
    <!-- partial -->
</head>
<body class="speakersPage">
    <div class="container">
        <input type="checkbox" id="right" class="toggle-input show-right" />

        <header class="header">
            <!-- partial:partials/_header.html -->
            <!-- partial -->
        </header>
        <div class="offcanvasMain">
            <section class="intro">
                <!-- partial:partials/_intro_all.html -->
                <!-- partial -->
            </section>
            <section class="workshops section">
                <div class="grid">
                    <div class="grid__inner eq-height">
                        <div class="col-12">
                            <h2>Workshops</h2>
                        </div>
                        <div class="col-6">
                            <div class="workshop">
                                <a class="workshop__image-container" href="/workshops/lean-ux-in-the-enterprise">
                                    <img class="workshop__image" src="//images.contentful.com/j8md9ikrag2j/3b9u6lksUogG8ekqSa6mOk/0702130ce14e5a031e1096377eb512c1/fec17-workshop-jeff-gothelf.jpg?w=530&amp;h=300&amp;fit=fill" alt="Lean UX in the Enterprise">
                                </a>
                                <div class="workshop__caption">
                                    <h3 class="workshop__description">
                                        <a class="workshop__link" href="/workshops/lean-ux-in-the-enterprise">
                                            <div>
                                                <span class="workshop__title">Lean UX in the Enterprise</span>
                                                <span class="workshop__author">
                                                    Ludmilla Evans
                                                </span>
                                                <span class="workshop__date">
                                                    30.08.17 - 14.00
                                                </span>
                                            </div>
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="workshop">
                                <a class="workshop__image-container" href="/workshops/presenting-work-with-confidence">
                                    <img class="workshop__image" src="//images.contentful.com/j8md9ikrag2j/6EZpCtfp6g4MUC4ikOWE8Y/59eee197fb480787764f03f277e28c11/fec17-workshop-mike-monteiro.jpg?w=530&amp;h=300&amp;fit=fill" alt="Presenting Work with Confidence">
                                </a>
                                <div class="workshop__caption">
                                    <h3 class="workshop__description">
                                        <a class="workshop__link" href="/workshops/presenting-work-with-confidence">
                                            <div>
                                                <span class="workshop__title">Presenting Work with Confidence</span>
                                                <span class="workshop__author">
                                                    Ludmilla Evans
                                                </span>
                                                <span class="workshop__date">
                                                    30.08.17 - 14.00
                                                </span>
                                            </div>
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="workshop">
                                <a class="workshop__image-container" href="/workshops/designing-with-scenarios-and-storyboards">
                                    <img class="workshop__image" src="//images.contentful.com/j8md9ikrag2j/2ZrYQaw3mEiKciukOmquSy/ce2c13551a9047d2295d5e03b55728af/fec17-workshop-kim-goodwin.jpg?w=530&amp;h=300&amp;fit=fill" alt="Designing with Scenarios &amp; Storyboards">
                                </a>
                                <div class="workshop__caption">
                                    <h3 class="workshop__description">
                                        <a class="workshop__link" href="/workshops/designing-with-scenarios-and-storyboards">
                                            <div>
                                                <span class="workshop__title">Designing with Scenarios &amp; Storyboards</span>
                                                <span class="workshop__author">
                                                    Ludmilla Evans
                                                </span>
                                                <span class="workshop__date">
                                                    30.08.17 - 14.00
                                                </span>
                                            </div>
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="workshop">
                                <a class="workshop__image-container" href="/workshops/from-animations-to-data-visualisation">
                                    <img class="workshop__image" src="//images.contentful.com/j8md9ikrag2j/3TbrymszzOG6y0icw8Wmwu/8c79ad2b3d42ae7baeba80988a0c316a/fec17-workshop-sarah-drasner.jpg?w=530&amp;h=300&amp;fit=fill" alt="Advanced SVG animations">
                                </a>
                                <div class="workshop__caption">
                                    <h3 class="workshop__description">
                                        <a class="workshop__link" href="/workshops/from-animations-to-data-visualisation">
                                            <div>
                                                <span class="workshop__title">Advanced SVG animations</span>
                                                <span class="workshop__author">
                                                    Ludmilla Evans
                                                </span>
                                                <span class="workshop__date">
                                                    30.08.17 - 14.00
                                                </span>
                                            </div>
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer section">
                <!-- partial:partials/_footer.html -->
                <!-- partial -->
            </footer>
        </div>
        <div class="offcanvasRight" id="offcanvasRight">
            <!-- partial:partials/_navigation_offcanvas.html -->
            <!-- partial -->
        </div>
    </div>
</body>
</html>
