.form {
  &__label {
    &--hidden {
      display: none;
    }
  }

  &__input {
    border: none;
		height: 48px;
    padding: 1rem;
    @include opensanscondensedbold();
	 	-webkit-appearance: none;
		border-radius: 0;
  }
}
